@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.navbar-nav > .active {
    font-weight: 700;
}
.bg-custom {
    background: lightcyan;
}
/* * {
    border: 1px dotted red;
} */
.profile-img {
    position: relative;
    width: 300px;
    height: 300px;

    z-index: -1;
}
.profile-img::before {
    content: "";
    background: crimson;
    opacity: 0.8;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: 170px;
    z-index: 1;
    pointer-events: none;
}
.profile-img::after {
    content: "";
    background: yellow;
    opacity: 0.8;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: -90px;
    top: 5px;
    z-index: -2;
    pointer-events: none;
}
.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}